:root {
    --cor-escura: #0d141c;
    --cor-azul-escuro: #081F5C;
    --cor-azul-claro: #b1b6d8cf;
    --cor-destaque: #fbbb04;
    --cor-clara: #fff9f0;
    --cor-branca: #ffffff;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--cor-clara);
    color: var(--cor-azul-escuro);
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-style: italic;
}

.sub-title {
    font-size: 1.2rem;
    max-width: 600px;
    margin: auto;
    text-align: center;
    margin-bottom: 1.25rem;
}

.hero {
    height: 100vh;
    margin: 0 auto; /* Centraliza a seção */
    display: flex;
    justify-content: center; /* Altera para espaço entre */
    align-items: end;
    background-image: url('assets/hero/bg_pc.png'); /* Adiciona a imagem de fundo */
    background-size: cover; /* Faz a imagem cobrir toda a área */
    background-position: center; /* Centraliza a imagem */
    padding: 0px 20px;
}

.hero h1 {
    font-size: 2.1875rem;
    margin: 0;
}

.hero p {
    font-size: 1.375rem;
    font-weight: normal;
    margin: 0;
}

.hero span {
    font-size: 1.875rem;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-style: italic;
    margin: 0;
}

.btn {
    background: linear-gradient(to right, #016108, #03a011);
    color: var(--cor-branca);
    padding: 15px 30px; /* Aumentar o padding para um botão mais largo */
    text-decoration: none;
    border-radius: 5px; /* Bordas arredondadas */
    font-weight: normal;
    font-size: 1rem;
    display: inline-flex; /* Para alinhar o ícone e o texto */
    align-items: center; /* Centraliza verticalmente */
    transition: background-color 0.3s; /* Efeito de transição suave */
    margin-top: 20px;
    letter-spacing: 2px; /* Ajuste o valor conforme necessário */
    cursor: pointer;
}

.btn:hover {
    background: linear-gradient(to right, #01870a, #05c715);
    color: var(--cor-branca);
}

.btn img {
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
    width: 25px; /* Ajuste o tamanho do ícone */
}

.hero-content {
    width: 80vw;
    max-width: 1400px;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textarea {
    width: 60%;
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: relative;
    gap: 20px;
}

.hero-logo {
    width: 400px;
    margin-bottom: 10px;
}

.brenda-image {
    position: relative;
    height: 100vh;
    width: 30vw;
}

#brasao {
    width: 18vw;
    position: absolute;
    top: 100px;
    left: -230px;
    z-index: 1;
}

.brenda-image #especialista {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 97vh;
    z-index: 2;
}

.familias-atendidas {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.familias-atendidas p {
    font-size: 1rem;
}

.familias-img {
    height: 52px; /* Ajuste a altura conforme necessário */
}

.telefone-atendimento {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    gap: 10px;
    position: absolute;
    bottom: 100px;
    left: 0;
    z-index: 4;
}

#gradiente_hero_pc {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    pointer-events: none;
}

#gradiente_hero_mobile {
    display: none;
}

.paralaxe {
    background-image: url('assets/turistas.jpg'); /* Substitua pelo caminho correto da imagem */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Adiciona o efeito de paralaxe */
    padding: 100px 20px;
    text-align: left;
    position: relative;
    display: flex; /* Usando flexbox para centralizar */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.paralaxe::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--cor-azul-escuro); /* Efeito de opacidade */
    z-index: 1; /* Coloca a camada de opacidade abaixo do texto */
    opacity: 0.93;
}

.paralaxe-content {
    position: relative; /* Para que o texto fique acima da camada de opacidade */
    z-index: 2; /* Coloca o texto acima da camada de opacidade */
    width: 100%; /* Garante que o conteúdo ocupe 100% da largura disponível até o máximo */
    max-width: 1400px;
    padding: 0 60px; /* Adiciona um pouco de padding lateral */
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 60px;
}

.paralaxe h2 {
    font-size: 2rem;
    margin: 0;
    color: var(--cor-clara);
    width: 500px;
    line-height: 1.8;
    margin-top: -16px;
}

.paralaxe p {
    font-size: 1.2rem;
    width: 420px;
    color: var(--cor-clara);
    font-weight: normal;
    margin: 0;
}

.subheadline {
    font-weight: bold;
    margin-bottom: 20px;
}

.service {
    padding: 50px 0;
    background-color: var(--cor-branca);
}

.service-cards {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap; /* Permite que os cards quebrem para uma nova linha */
    justify-content: center;
    gap: 20px;
}

.service-card {
    background-color: var(--cor-branca);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 80%;
    max-width: 350px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s; /* Efeito de transição suave */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-card h3 {
    font-size: 1.2rem;
    margin-bottom: 0.625rem;
}

.service-card p {
    text-align: left;
}

.service-card:hover {
    transform: translateY(-3px); /* Levanta o card ao passar o mouse */
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.service-card-img {
    max-width: 100%;
    height: 200px; /* Defina uma altura fixa para todas as imagens */
    object-fit: cover; /* Garante que a imagem mantenha a proporção e preencha o espaço */
    border-radius: 10px; /* Bordas arredondadas para a imagem */
    margin-bottom: 15px; /* Espaçamento abaixo da imagem */
}

.services-list {
    list-style: none;
    padding: 0;
    text-align: left; /* Alinha a lista à esquerda */
}

.testimonials {
    background-color: var(--cor-branca);
    padding: 50px 20px 80px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Layout responsivo */
    gap: 20px; /* Espaçamento entre os cards */
    margin-top: 20px;
}

.testimonial-card {
    background-color: var(--cor-branca);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    position: relative;
}

.testimonial-card:hover {
    transform: translateY(-5px);
}

.testimonial-card p {
    font-style: italic;
    margin: 0 0 0.625rem;
}

.rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.star {
    color: var(--cor-destaque);
    margin-right: 2px;
}

.rating-value {
    font-weight: bold;
    margin-left: 0.3125rem;
    color: var(--cor-destaque);
}

.service-title {
    font-size: 2rem;
    text-align: center;
}

#mobile-btn {
    display: none;
}

.footer {
    background-color: var(--cor-azul-escuro);
    color: var(--cor-branca);
    padding: 20px;
    text-align: center;
}

.footer-content p {
    margin: 5px 0;
}

.footer-content span {
    text-decoration: none;
    color: var(--cor-azul-claro);
}

.social-links {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.social-links a {
    text-decoration: none;
    margin: 0 10px;
    color: var(--cor-branca);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.social-links img {
    width: 24px; /* Ajuste o tamanho do ícone */
    height: 24px;
}

@media (max-width: 768px) {
    .hero {
        position: relative;
    }

    .hero h1 {
        font-size: 25px;
    }
    
    .hero p {
        font-size: 14px;
    }
    
    .hero span {
        font-size: 20px;
    }
    
    .btn {
        font-weight: normal;
        font-size: 0.7em;
        margin-top: 0px;
    }
    
    .btn:hover {
        background: linear-gradient(to right, #01870a, #05c715);
        color: var(--cor-branca);
    }
    
    .btn img {
        margin-right: 10px; /* Espaçamento entre o ícone e o texto */
        width: 25px; /* Ajuste o tamanho do ícone */
    }
    
    .hero-content {
        width: 100%;
        flex-direction: column;
        padding: 0px 20px;
    }
    
    .textarea {
        width: 100%;
        height: 100%;
        justify-content: start;
        padding-top: 10vh;
        gap: 10px;
    }
    
    .hero-logo {
        width: 80%;
        margin-bottom: 10px;
    }
    
    #brasao {
        width: 150px;
        position: absolute;
        top: -250px;
        left: 0px;
        z-index: 1;
    }
    
    .brenda-image {
        width: 100%;
        height: 0;
    }
    
    .brenda-image #especialista {
        height: 50vh;
        right: -40px;
    }
    
    .familias-atendidas {
        flex-direction: column;
    }
    
    .familias-atendidas p {
        font-size: 0.7rem;
    }
    
    .familias-img {
        height: 60px; /* Ajuste a altura conforme necessário */
    }
    
    .telefone-atendimento {
        bottom: 50px;
        left: 10px;
        font-size: 0.7rem;
    }

    #gradiente_hero_pc {
        display: none;
    }

    #gradiente_hero_mobile {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 3;
        pointer-events: none;
    }
    
    .paralaxe {
        background-image: url('assets/turistas_mobile.jpg');
        padding: 40px 20px;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
    }

    .paralaxe h2 {
        font-size: 32px;
    }

    .service-title {
        font-size: 24px; /* Tamanho menor para dispositivos móveis */
    }

    .social-links {
        flex-direction: column;
    }
}