:root {
    --cor-escura: #0c0f14;
    --cor-destaque: #d1a965;
    --cor-clara: #f1efec;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--cor-clara);
    color: var(--cor-escura);
}

.logo {
    font-size: 1.5em;
    color: var(--cor-escura);
}

.logo-img {
    height: 50px; /* Ajuste a altura conforme necessário */
    margin-right: 10px; /* Espaçamento entre a logo e o texto */
    vertical-align: middle; /* Alinha a imagem verticalmente com o texto */
}

.hero {
    height: 100vh;
    margin: 0 auto; /* Centraliza a seção */
    display: flex;
    justify-content: space-between; /* Altera para espaço entre */
    align-items: center;
    background-color: #ffffff; /* Fundo branco */
    color: var(--cor-escura);
    padding: 60px 20px;
    text-align: left; /* Altera para alinhar à esquerda */
    background-image: url('assets/hero_bg_desktop.jpg'); /* Imagem de fundo para desktop */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero h1 {
    color: var(--cor-destaque);
    font-size: 65px;
    margin: 0;
}

.hero p {
    color: var(cor-escura);
    font-size: 24px;
    margin: 20px 0;
}

.hero .btn {
    background-color: var(--cor-destaque);
    color: var(--cor-clara);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 40px;
}

.hero .btn:hover {
    background-color: var(--cor-escura);
    color: var(--cor-destaque);
}

.hero-content {
    max-width: 50%;
    text-align: left;
    align-items: start;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.paralaxe {
    width: 100%;
    background-image: url('assets/turistas.jpg'); /* Substitua pelo caminho correto da imagem */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Adiciona o efeito de paralaxe */
    color: var(--cor-clara);
    padding: 100px 20px;
    text-align: left;
    position: relative;
    display: flex; /* Usando flexbox para centralizar */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.paralaxe::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Efeito de opacidade */
    z-index: 1; /* Coloca a camada de opacidade abaixo do texto */
}

.paralaxe-content {
    position: relative; /* Para que o texto fique acima da camada de opacidade */
    z-index: 2; /* Coloca o texto acima da camada de opacidade */
    max-width: 800px; /* Define uma largura máxima */
    width: 100%; /* Garante que o conteúdo ocupe 100% da largura disponível até o máximo */
    padding: 0 20px; /* Adiciona um pouco de padding lateral */
}

.paralaxe h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.paralaxe p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.subheadline {
    font-weight: bold;
    margin-bottom: 20px;
}

.testimonials {
    background-color: var(--cor-escura);
    color: var(--cor-clara);
    padding: 60px 20px;
    text-align: center;
}

.testimonials h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.testimonial {
    margin: 20px 0;
    font-style: italic;
}

.testimonial span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.btn {
    background-color: var(--cor-destaque);
    color: var(--cor-escura);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.4em;
    position: relative;
}

.btn:hover {
    background-color: var(--cor-clara);
    color: var(--cor-destaque);
}

@media (max-width: 768px) {
    .hero {
        padding: 20px;
        padding: 15% 0;
        background-image: url('assets/hero_bg_mobile.jpg'); /* Imagem de fundo para mobile */
    }

    .hero .btn {
        margin-top: 20px;
    }

    .hero-content {
        max-width: 100vw;
        height: 100%;
        margin: 20px;
    }

    .hero h1 {
        color: var(--cor-destaque);
        font-size: 40px;
        margin: 0;
    }
    
    .hero p {
        color: var(cor-escura);
        font-size: 20px;
        margin: 10px 0;
    }

    .paralaxe {
        background-image: url('assets/turistas_mobile.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .paralaxe h2 {
        font-size: 32px;
    }
}

.service {
    padding: 100px 0;
}

.service-cards {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap; /* Permite que os cards quebrem para uma nova linha */
    justify-content: center;
    gap: 20px;
}

.service-card {
    background-color: var(--cor-clara);
    color: var(--cor-escura);
    border-radius: 10px;
    padding: 20px;
    margin: 10px; /* Ajuste a margem para espaçamento consistente */
    width: 300px; /* Define uma largura fixa para os cards */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s; /* Efeito de transição suave */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service h2 {
    font-size: 32px;
    text-align: center;
}

.service-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.service-card:hover {
    transform: translateY(-5px); /* Levanta o card ao passar o mouse */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Aumenta a sombra ao passar o mouse */
}

.service-card img {
    max-width: 100%;
    height: auto; /* Ajusta a altura automaticamente */
    border-radius: 10px; /* Bordas arredondadas para a imagem */
    margin-bottom: 15px; /* Espaçamento abaixo da imagem */
}

.services-list {
    list-style: none;
    padding: 0;
    text-align: left; /* Alinha a lista à esquerda */
}