:root {
    --cor-escura: #0c0f14;
    --cor-destaque: #d1a965;
    --cor-clara: #f1efec;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--cor-clara);
    color: var(--cor-escura);
}

.navbar {
    background-color: var(--cor-clara);
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 1.5em;
    color: var(--cor-escura);
}

.logo-img {
    height: 50px; /* Ajuste a altura conforme necessário */
    margin-right: 10px; /* Espaçamento entre a logo e o texto */
    vertical-align: middle; /* Alinha a imagem verticalmente com o texto */
}

.hero {
    background-image: url('assets/turistas.jpg'); /* Substitua pelo caminho correto da imagem */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Adiciona o efeito de paralaxe */
    color: var(--cor-clara);
    padding: 60px 20px;
    text-align: left;
    height: 100vh;
    position: relative;
    display: flex; /* Usando flexbox para centralizar */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Efeito de opacidade */
    z-index: 1; /* Coloca a camada de opacidade abaixo do texto */
}

.hero-content {
    position: relative; /* Para que o texto fique acima da camada de opacidade */
    z-index: 2; /* Coloca o texto acima da camada de opacidade */
    max-width: 800px; /* Define uma largura máxima */
    width: 100%; /* Garante que o conteúdo ocupe 100% da largura disponível até o máximo */
    padding: 0 20px; /* Adiciona um pouco de padding lateral */
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.subheadline {
    font-weight: bold;
    margin-bottom: 20px;
}

.problems {
    background-color: var(--cor-clara);
    padding: 60px 20px;
    text-align: center;
    position: relative;
    z-index: 2; /* Garante que a seção fique acima da camada de opacidade */
}

.problems-content {
    max-width: 1200px; /* Define uma largura máxima */
    margin: 0 auto; /* Centraliza a seção */
}

.problems h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.services {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
    text-align: left; /* Alinha os serviços à esquerda */
}

.services li {
    font-size: 1.2em;
    margin: 5px 0; /* Espaçamento entre os itens da lista */
}

.testimonials {
    background-color: var(--cor-escura);
    color: var(--cor-clara);
    padding: 60px 20px;
    text-align: center;
}

.testimonials h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.testimonial {
    margin: 20px 0;
    font-style: italic;
}

.testimonial span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.btn {
    background-color: var(--cor-destaque);
    color: var(--cor-escura);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.4em;
    position: relative;
}

.btn:hover {
    background-color: var(--cor-clara);
    color: var(--cor-destaque);
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2em;
    }

    .hero p {
        font-size: 1em;
    }

    .problems h2 {
        font-size: 1.5em;
    }

    .services li {
        font-size: 1em; /* Ajusta o tamanho da fonte para dispositivos menores */
    }

    .testimonials h2 {
        font-size: 1.5em;
    }

    .service-cards {
        flex-direction: column; /* Altera a direção do flex para coluna */
    }

    .service-card {
        width: 100%; /* Garante que os cards ocupem toda a largura */
    }
}

.service-cards {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.service-card {
    background-color: var(--cor-clara);
    color: var(--cor-escura);
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0; /* Ajuste a margem para que os cards fiquem um abaixo do outro */
    width: 100%; /* Faz com que os cards ocupem toda a largura */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s; /* Efeito de transição suave */
    text-align: center;
}

.service-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.service-card:hover {
    transform: translateY(-5px); /* Levanta o card ao passar o mouse */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Aumenta a sombra ao passar o mouse */
}

.service-card img {
    max-width: 100%;
    height: 50%;
    border-radius: 10px; /* Bordas arredondadas para a imagem */
}

.services-list {
    list-style: none;
    padding: 0;
    text-align: left; /* Alinha a lista à esquerda */
}
